---
layout: default
title: Home
---
<div class="page">
  <h1 class="page-title">Hey there, I'm Joy.</h1>
  <p>You’ll find me in NYC working at the intersection of strategy, design, and technology. Currently, I’m a Senior Product Manager at <a href="http://www.prolificinteractive.com/" target="_blank">Prolific Interactive</a>, where I work with cross-functional teams to build engaging, user-centric mobile experiences.</p>

<p>Outside of my work, I love <a href="https://www.strava.com/athletes/joychen" target="_blank">cycling</a>, running, <a href="https://www.instagram.com/p/BWGoROHA8xy/?taken-by=jeyohwhy" target="_blank">the outdoors</a>, <a href="https://www.instagram.com/p/9NptuiF14C/?taken-by=jeyohwhy" target="_blank">travel</a>, <a href="https://www.instagram.com/p/BN4mNKVAdCc/?taken-by=jeyohwhy" target="_blank">modern art</a>, music, and the French language.</p>
<a href="http://artgallery.yale.edu/collections/objects/50128" target="_blank"><img src="/assets/art/Duchamp_TuM.jpg" alt="Marcel Duchamp - Tu m'" /></a><div class="art-caption">Marcel Duchamp, <i>Tu m'</i>, 1918. Oil on canvas, with bottlebrush, safety pins, and bolt, 69.8 x 303 cm. Yale University Art Gallery, New Haven, CT.</div>
<p><a href="mailto:chenjoyv@gmail.com" target="_blank" class="entypo fade"><span class="entypo-mail"></span></a>
<a href="http://twitter.com/chenjoyv" target="_blank" class="entypo fade"><span class="entypo-twitter"></span></a>
<a href="http://linkedin.com/in/joyvchen" target="_blank" class="entypo fade"><span class="entypo-linkedin"></span></a>
<a href="http://instagram.com/jeyohwhy" target="_blank" class="entypo fade"><span class="entypo-instagrem"></span></a></p>

</div>


<br><br><br><br><br>


<!-- 

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }} 
    <a href="{{ post.url }}#read-more" role="button">Read more >></a>
    <br><hr>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">&#8592; Older</a>
  {% else %}
    <span class="pagination-item older">&#8592; Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer &#8594;</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer &#8594;</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer &#8594;</span>
  {% endif %}
</div>

--> 